body {
	background-color: rgb(253, 254, 254);
	color: #c6cfff;
	font-family: Robot;
	font-weight: lighter;
	font-size: 18px; 
}

h1, h2, h3 {
font-family: Helvetica;   
}

h1 {
	color: #bf81ff;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 32px;
	text-transform: uppercase;
}

h2 {
	color: #a06ee1;
	font-weight: 400;
	font-size: 24px;
}

a {
	text-decoration: none;
	font-family: Robot, sans-serif;
	color: #837dff;
	font-weight: 300;
	font-size: 16px;
}

a:hover {
 color: rgb(177, 2, 216);
}

/* Custom design with class (99%) */ 
.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radious: 5px; 
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-purple {
	background-color: #e8d3ff;
	color: white;
	padding: 12px 18px;
	border-radius: 5px;
}
.btn-purple:hover {
	background-color: rgb(230,230,230);
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
	border-radius: 5px;
}
.list-inline i {
	font-size: 50px;
	color: #e8d3ff;
}
.list-inline i:hover {
	font-size: 50px;
	color: rgb(230,230,230);

/* Design adjustments using id (1% design remaining) */
#introduction p {
 margin-bottom: 40px;
}





